body {
	background-color: white;
	font-family: 'ubuntu', sans-serif;
	margin: 3rem 2% 3rem 2%;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

header > img {
	height: auto;
	width: 30%;
	object-fit: contain;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	/* list-style: none; */
	text-align: center;
	background-color: #EBC7E6;
	justify-content: space-evenly;
	border-radius: 10px;
	margin: 10px;
}

nav li {
	display: inline-block;
	padding: 1%;
}

a {
	text-decoration: none;
} 

section {
	display: flex;
}

article {
	flex: 1;
	background-color: #EBC7E6;
	border-radius: 20px;
	padding: 20px;
	margin: 10px;
}

article > img {
	position: relative;
	align-self: center;
	width: 100%;
}

.offer {
	background-color: #EBC7E6;
	background-image: url("images/Artboard 23.png");
	background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

footer {
	display: flex;
	margin: 10px;
}

footer div {
	flex: 1;
}

div > img {
	margin-left: 10px;
	height: auto;
	width: 15%;
	/* object-fit: contain; */
}

.column {
	display: inline-block;
}
